  path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
  }
  
  .axis path,
  .axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
  }
  
  .thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
  }
  
  img.thumbnail,
  .thumbnail a>img {
    margin-right: auto;
    margin-left: auto;
  }
  
  a.thumbnail:hover,
  a.thumbnail:focus,
  a.thumbnail.active {
    border-color: #337ab7;
  }
  
  img.thumbnail,
  .thumbnail a>img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  .img-circle {
    border-radius: 50% !important;
  }
  
  img.center {
    margin-left: auto;
    margin-right: auto;
  }
  
  .false-panel {
    width: 200px;
    color:black;
    display: inline-block;
    margin-bottom: 20px;
    border: none;
  }

  .avatars label > input{ 
  visibility: hidden; 
  position: absolute;
}
  
  .panel-body {
    border:none;
    transform: scaleY(0);
    transition: transform 0.25s ease;
    transform-origin: 50% 0;
    color: black;
    padding: 10px;
    opacity: 0.5;
    text-align: justify;
  }

  .panel-body-wrapper{
    padding: 15px;
    height: 120px;
    overflow-y: auto;
  }

  .panel-header{
    border:none;
    cursor: pointer;
    color:black;
    opacity: 0.5;
  }
  
  input[type="radio"]:checked ~ div.panel-body {
    border: 1px solid white;
    border-top: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transform: scaleY(1);
    background-color:black;
    color:white;
    opacity: 1;
  }

  input[type="radio"]:checked ~ div.panel-header{
    border: 1px solid white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color:black;
    color:white;
    opacity: 1;
  }
  
  .text-center {
    text-align: center;
  }

  .graph{
      position: relative;
  }

  .rp{
      width:16px;
      height:16px;
      border-radius: 50%;
      border: 2px solid white;
      position: absolute;
  }
  .rp.progress{
      background-color: orange;
  }

  div.wrapper{
    max-height: 500px;
    overflow-y: auto;
  }

  .back{
    background-color: #82c761;
    padding:15px;
    border-radius: 30px;
    border: 1px solid black;
    width:650px;
    overflow-y:visible;
  }

  .graph-wrapper{
    overflow-x:auto;
    overflow-y:visible;
  }

  .rp.finished{
      background-color: green;
  }

  .tooltip{
      z-index: 1000;
    transform: scaleY(0);
    transition: transform 0.25s ease;
    transform-origin: 50% 0;
      top:8px;
      left:8px; 
      position: absolute;
  }

  .tooltip .titreun{
    width:auto;
    height: auto;
    margin-right:39px;
  }

  .tooltip .infosgen{
    width: 300px;
    box-shadow: 10px 10px 5px #656565;
  }

  .titreun{
      color:#EEEEEE;
  }

  .rp:hover .tooltip{
      transform: scaleY(1);
  }

  circle:hover .tooltip{
    transform: scaleY(1);
  }

  .tooltip .titreun{
    width:auto;
  }

  .legend{
    margin-left: 50px;
    padding: 10px;
    max-width: 150px;
    border-radius: 4px;
    border: 1px solid black;
    background-color: white;
  }

  .legend .rp{
    width: 10px;
    height: 10px;
    position: initial;
  }

  .stripline{
    position: absolute;
    height: 100%;
  }
  .stripline.clair{
    background-color: rgba(256, 256, 256, .75);
  }